* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* header and footer */
.app-header img {
    max-width: 80px;
    margin-left: 10px;
    margin-left: 10px;
    
    border-radius: 10px;


}

.app-footer,
.app-header {
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 10px;
    color: #f7f3f0;
}

.app-header {
    height: 10vh;
}

.app-footer {
    height: 10vh;
}

/* app */

.car-filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 180px));
}

/* car-app cmp */

.car-app {
    min-height: 80vh;
    background-color: darkorange;
    padding: 10px;
}

/* car-list cmp */

.car-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    list-style-type: none;
    background-color: #f7f3f0;
    padding: 10px;
}

.car-list ul li {
    display: grid;
    background-color: rgb(29, 36, 36);
    padding: 10px;
    justify-items: center;
    color: rgb(234, 234, 234);
}

.actions {
    justify-self: end;
    margin-top: 15px;
}

/* car-details cmp */


.car-details {
    display: grid;
    background-color: rgb(233 237 238);
    padding: 10px;
    margin-block-end: 10px;
}

.car-details button {
    justify-self: end;
}

.car-details img {
    width: 200px;
    margin-top: 20px;
    justify-self: center;
    transition: rotate 1s;
}

.car-details span {
    padding: 15px;
}

.car-details img:hover {
    rotate: -10deg;
}

.car-details .price {
    text-align: center;
}

/* car-edit cmp */

.car-edit {
    background-color: rgb(58 58 58);
    padding: 10px;
}


/* car-preview cmp */

.prev-img {
    max-width: 120px;
    /* border-radius: 6px; */
}

.car-preview {
    display: grid;
    grid-template-rows: 1fr 0.9fr;
}

.car-preview h2,
.car-preview h3,
.prev-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}